black==19.10b0
colorcet
cython
deprecated
deprecation
matplotlib
numpy
opencv-python==4.2.0.32
pandas
pydensecrf @ git+https://git@github.com/lucasb-eyer/pydensecrf@4d5343c398d75d7ebae34f51a47769084ba3a613#egg=pydensecrf
pytest
pytest-mpl
scikit-image
seaborn
webcolors
